<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Generic Feedback Widget</title>
    <link rel="stylesheet" href="/public/css/main.css"/>
  </head>
  <header>
    <div id="headerContent">
      <!-- Add Header Here -->
    </div>
  </header>
  <body>
    <div id="app">{{html|safe}}</div>
    <script src="/public/js/vendor.js"></script>
    <script src="/public/js/vendor.bundle.js"></script>
    <script src="/public/js/bundle.js"></script>
  </body>
  <footer>
    <div id="footerContent">
      <!-- Add Footer Here -->
    </div>
  </footer>
</html>
